.tabs {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.tab {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2F956D;
    background-color: transparent;
    border: 1px solid #2F956D;
    cursor: pointer;
}

.activeTab {
    background-color: #2F956D;
    color: #FFF;
}